.form-parent{
  border: 2px solid red;
  margin: 4% 35%;
  padding: 2%;
  color: blue;
  background-color: white;
  position: absolute;
  left: 0%;
  top: 20%;
}

.form-parent label{
  font-size: 15px;
}

.form-parent input{
  padding: 5px;
}